{% extends 'layout.html' %}

{% block title %}Детальная страница{% endblock %}




{% block content %}
    <a href="/cars/{{object.id}}/update/"><button type="submit">Обновить машины</button></a>
    <a href="/cars/{{object.id}}/delete/"><button type="submit">Удалить машины</button></a>
    <a href="/cars/{{object.id}}/comment/"><button type="submit">Коментарии</button></a>
    <center class="p-1">
        <h1>{{object.title}}</h1>
        <p class="w-75 fs-3">{{object.description}}</p>
        <iframe src="{{object.video}}" ></iframe>
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">Текст</th>
                    <th scope="col">Рейтинг</th>
                    <th scope="col">Дата создание</th>
                </tr>
                {% for j in object.comments.all %}
                <tr>
                    <td>{{j.id}}</td>
                    <td>{{j.text}}</td>
                    <td>{{j.rate_stars}}</td>
                    <td>{{j.created_date}}</td>
                </tr>
                {% endfor %}
            </thead>
        </table>
        {% comment %}
            <a href="/car_list/"><button>на список машин</button></a>
        {% endcomment %}
    </center>
{% endblock %}




